.coa-Footer {
  // background: $coa-color-blue;
  color: $coa-color-white;
  font-family: $coa-font-sans;
  padding-bottom: $coa-spacing-large;
}

.coa-Footer__city-seal-wrapper {
  padding: $coa-space-level1 0 $coa-space-level3;
  @include media($coa-medium-screen) {
    text-align: center;
  }
}

.coa-Footer__work-in-progress {
  font-family: $coa-font-sans;
  font-size: $coa-font-size-medium;
  line-height: $coa-line-height-medium;
  text-align: center;
  color: $coa-color-white;
  a {
    color: $coa-color-white;
    &:visited {
      color: $coa-color-white;
    }
    svg {
      fill: $coa-color-white;
      height: $coa-font-size-xsmall - .1rem;
      width: $coa-font-size-xsmall - .1rem;
      &:hover {
        fill: $coa-color-white;
      }
      path {
        fill: $coa-color-white;
      }
    }
  }
  h4 {
    font-size: $coa-font-size-large;
    line-height: $coa-line-height-large;
    font-weight: $coa-font-regular;
    letter-spacing: .25px;
    margin-bottom: $coa-space-level7;
  }
  p {
    font-size: $coa-font-size-md-small;
    line-height: $coa-line-height-md-small
  }
}

.coa-Footer__work-in-progress--background {
  background: $coa-color-blue;
  border-radius: $coa-section-border-radius;
  padding: $coa-space-level7 0 $coa-space-level7 0;
}

.coa-Footer__icons {
  a {
    margin-right: $coa-space-level4;
  }
  svg {
    path {
      fill: $coa-color-white;
    }
    &:hover {
      path {
        fill: $coa-color-blue;
      }
    }
  }
  @include media($coa-medium-screen) {
    text-align: right;
  }
}
